################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FizzBuzzApi/FileContentIndex/243c105e-e3e6-4571-8459-9056c0103f30.vsidx
/.vs/FizzBuzzApi/FileContentIndex
